---
import Image from './Image.astro';
import { config } from '../config';

const currentPath = Astro.url.pathname;
const isHomePage = currentPath === '/';
const prefix = isHomePage ? '' : '/';
const companyName = config.app.name;
---

<div class="fixed w-full z-50 transition-all duration-300 py-6">
  <div class="max-w-7xl mx-auto px-6 flex items-center h-full">
    <a href={prefix} class="flex items-center space-x-1 text-gray-700 hover:text-blue-500 dark:text-gray-200 dark:hover:text-blue-400 transition-all duration-300">
      <div class="flex items-center gap-2">
        <Image src="/images/icon/logo.png" alt="Company Logo" width={32} height={32} class="w-8 h-8" />
        <span class="text-xl font-semibold">{companyName}</span>
      </div>
    </a>
  </div>
</div> 